<div class="container">
  <div class="jumbotron col-md-10 offset-md-1">
      <h2 class="display-4" style="background-color: transparent; color: #333;">About Blink</h2>
      <p style="color: #444" class="lead about">
          Design and Development <br />
          <a href="http://sidhant.io" target="_blank">Sidhant Sharma</a>
          <br />
          Made with <br />
          <a href="https://feedly.com/" target="_blank">Feedly</a><br />
          <a href="https://angular.io/" target="_blank">Angular 8</a><br />
          <a href="https://bootswatch.com/materia/" target="_blank">Bootswatch Materia</a><br />
          Links<br />
          <a href="http://sidhant.io/get-in-touch.html" target="_blank">Get in touch</a><br />
          <a href="https://github.com/CptFoobar/Blink/" target="_blank">Get source (Github)</a><br />

          <br />
          <a href="http://madewithlove.org.in" target="_blank" style="font-size:0.85em;">Made with <span style="color: #f7403a">&hearts;</span> in India</a>
      </p>
      <p style="color: #555; font-size: 1em">
          Blink is free and open-source.
          Please consider contributing towards its development.
      </p>
  </div>
</div>
