<app-progressbar [hidden]="!showProgressbar"></app-progressbar>
<div class="container settings-container" [hidden]="showProgressbar">
    <!-- <div class="row text-center alert-wrapper" ng-if="alerts[0]">
        <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)" dismiss-on-timeout="3500"> {{ alert.msg }} </uib-alert>
    </div> -->
    <br />
    <div class="row text-center">
        <h2>Settings</h2>
    </div>
    <hr>
    <div class="row">
        <h4 class="ml-5">Home</h4>
    </div>
    <br />
    <div class="row">
        <br />
        <form class="offset-1 col-10">
            <div class="form-row">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="showGreeting" id="showGreetingInput" name="showGreetingInput">
                        <label class="custom-control-label" for="showGreetingInput">Show Greeting</label>
                      </div>
                </div>
            </div>

            <div class="form-row">
                    <label for="userName">Greet by name:&nbsp;&nbsp;</label>
                    <input id="userName" type="text" class="form-control setting-input pb-0" name="userName"
                        [(ngModel)]="userName" placeholder='User' [attr.disabled] = "showGreeting ? null : ''" />
            </div>
        </form>
    </div>

    <hr>
    <div class="row">
        <h4 class="ml-5">Feed</h4>
    </div>
    <br />
    <div class="row">
        <br />
        <form class="offset-1 col-10">
            
            <div class="form-row">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="shuffleFeed" id="shuffleFeedInput" name="shuffleFeedInput">
                        <label class="custom-control-label" for="shuffleFeedInput">Shuffle feed</label>
                      </div>
                </div>
            </div>
            <div class="form-row">
                <div class="p-0 col-2 align-self-center text-align-left">Feed Content Type:</div>
                <div class="btn-group" role="group">
                    <button class="btn btn-success" [ngClass]="{'active': feedType === 't'}" type="radio" name="feedType" (click)="setFeedPref('t')">Trending</button>
                    <button class="btn btn-success" [ngClass]="{'active': feedType === 'b'}" type="radio" name="feedType" (click)="setFeedPref('b')">Balanced</button>
                    <button class="btn btn-success" [ngClass]="{'active': feedType === 'l'}" type="radio" name="feedType" (click)="setFeedPref('l')">Latest</button>
                </div>
            </div>
            <br/>
            <div class="form-row">
                <div class="p-0 col-2 align-self-center text-align-left">Feed Content View:</div>
                <div class="btn-group" role="group">
                    <button class="btn btn-success" [ngClass]="{'active': feedViewCompact }" type="radio" name="feedView" (click)="setFeedViewPref('compact')">Compact</button>
                    <button class="btn btn-success" [ngClass]="{'active': !feedViewCompact }" type="radio" name="feedView" (click)="setFeedViewPref('cozy')">Cozy</button>
                </div>
            </div>
        </form>
    </div>


    <button class="btn btn-primary btn-lg save-button" (click)="saveConfig()">
        <i class="far fa-save fa-fw fa-2x"></i>
    </button>
</div>
<app-toast-container class="bl-toast-container"></app-toast-container>