.navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.80);
}
.nav>li>a:hover, .nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
nav.navbar.navbar-transparent {
    height: 65px;
    max-height: 65px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #5c4881;
    background-color: rgba(73, 54, 106, 0.975);
    color: #efefef;
    font-size: 1.2em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.175);
}
.navbar-nav>.nav-item>.dropdown-menu {
    background-color: #5B5070;
    color: rgba(255, 255, 255, 0.80);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 5px 0;
    font-size: 0.9em;
    margin-top: 5px;
    border-radius: 0 0 5px 5px;
}
.navbar-nav>.nav-item>.dropdown-menu>li.divider {
    color: rgba(255, 255, 255, 0.80);
    background-color: rgba(255, 255, 255, 0.80);
}
.navbar-nav>.nav-item>.dropdown-menu>li>a {
    color: rgba(255, 255, 255, 0.80);
    padding: 0.5rem 0.3rem 0.5rem 0.75rem;
}
.navbar-nav>.nav-item>.dropdown-menu>li>a:active {
    background-color: rgba(255, 255, 255, 0.10);
    border: none;
    color: rgba(255, 255, 255, 1);
}
.navbar-nav>.nav-item>.dropdown-menu>li>a:hover {
    background-color: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 1);
}
.navbar-nav>.nav-item>.dropdown-menu>li>a:focus {
    background-color: rgba(255, 255, 255, 0.10);
    border: none;
    color: rgba(255, 255, 255, 1);
}
.navbar-nav>.dropdown>.dropdown-toggle:after {
    display: none;
}
.navbar-nav>.dropdown>.dropdown-toggle {
    cursor: pointer;
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3em;
    font-family: lovers_quarrelregular,serif;
    font-weight: 400;
    line-height: 0.6em;
    padding: 10px 0 0 5px;
}
.navbar-brand:hover {
    color: rgba(255, 255, 255, 1);
}
.navbar-brand:focus, .navbar-brand:active, .navbar-brand:hover:active {
    color: rgba(255, 255, 255, 1);
    outline: none;
}
.nav-icon {
    filter: grayscale(85%);
    -webkit-filter: grayscale(85%);
}
.nav-icon:hover, .nav-icon:focus, .nav-icon:active {
    filter: grayscale(30%);
    -webkit-filter: grayscale(30%);
}
.searchbar {
    overflow: hidden;
}
.searchbar > input[type="text"], .searchbar > input[type="search"] {
    color: #efefef;
}
.searchbar {
    -webkit-transition: all ease-out 0.65s;
    transition: all ease-out 0.65s;
    width: 300px;
    opacity: 1;
}
.searchbar.ng-hide {
    opacity: 0;
    width: 1px;
}
.btn-search {
    background-color: transparent;
    background-image: url("../../../assets/img/google_g.png");
    background-repeat: no-repeat;
    background-size: auto 90%;
    filter: grayscale(75%);
    -webkit-filter: grayscale(60%);
    -webkit-transition: all ease-out 0.65s;
    transition: all ease-out 0.65s;
    height: 23px;
    width: 25px;
    padding-right: 5px;
    border: none;
}
.btnActive {
    background-color: transparent;
    border: none;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    outline: none;
}
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    background-color: transparent;
    border: none;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    outline: none;
    box-shadow: none;
}
.custom-popup-wrapper {
    max-width: 300px;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #bbb;
    padding: 0 0;
}
.custom-popup-wrapper > .dropdown-menu {
    max-width: 300px;
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 0;
    box-shadow: none;
}


.navbar-collapse-transparent {
    max-height: 600px !important;
    float: right;
    min-width: 350px;
}

.responsive-search {}

@media screen and (max-width: 768px) {
    .responsive-search {
        display: inline-block;
    }
}