<!-- Support Me! Modal -->
<div class="modal-header justify-content-center">
  <span class="modal-title support-title">
      <i class="fa fa-heart fa-fw" style="color: #f7403a"></i> &nbsp; Show your love &nbsp;
      <i class="fa fa-heart fa-fw" style="color: #f7403a"></i>
  </span>
</div>
<div class="modal-body support-body text-center pt-5 pr-5 pb-4 pl-5">
    <p class="support-message"> If you are enjoying Blink, and would like to see it grow and improve, please contribute to its development.</p>
    <br />
    <p class="support-tip">You can show your love by sending me something with Paypal :)</p>
    <div class="paypal-form">
        <div class="justify-content-center">
          <a href="http://paypal.me/sidhantsharma12/4.99" target="_blank">
              <img src="assets/img/paypal_donate.png" alt="Donate with PayPal" id="donate_paypal" style="cursor: pointer">
          </a>
      </div>
    </div>

</div>
