.add-content-input {
    font-size: 1.25em;
}

.ac-modal-title {
    color: #725177;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.ac-modal-body {
    color: #4e4e4e;
    min-height: 200px;
}

.suggestion-title {
    font-size: 1.4em
}

.suggestion-desc {
    font-size: 1.15em;
}

.suggestion-icon {
    width: 75px;
}

.dropdown-menu {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: fill-available;

}
