<div class="modal-header">
    <div class="modal-title ac-modal-title"> Add Content
        </div>
</div>
<div class="modal-body ac-modal-body">
    <form class="form-horizontal" role="search">
        <div class="form-group col-md-10 offset-md-1">
            <label for="add-content-input">Find feeds</label>
            <input id="add-content-input" type="text" class="form-control" name="add-content-input"
                [(ngModel)]="model"
                (ngModelChange)="closeIfSourceSelected()"
                [ngbTypeahead]="searchFeeds"
                placeholder='Try searching "TechCrunch" or "Politics"...'
                [resultTemplate]="feedSuggestion"
                [inputFormatter]="feedSourceTitleFormatter"
                [editable]="false"
                />
            <app-progressbar [hidden]="!showProgressbar" barType="info"></app-progressbar>
        </div>
    </form>
</div>

<ng-template #feedSuggestion let-result="result" class="testclass">
        <div class="media">
            <img class="media-object align-self-center mr-4 suggestion-icon" [src]="result.visualUrl" />
            <div class="media-body text-wrap " style="cursor: pointer;">
              <div class="mt-0 mb-1 suggestion-title">{{ result.title }}</div>
              <div class="suggestion-desc">
                    {{ result.description.trim().substring(0, 125) }}
              </div>
            </div>
          </div>
</ng-template>

