.delete-confirm-title {
    color: #444;
    font-size: 2em;
}

.delete-confirm-body {
    color: #4e4e4e;
}

.confirm-message {
    font-size: 1.25em;
}

.confirm-tip {
    font-size: 1em;
}

.src-img {
    width: 50px;
    border-radius: 5px;
}
