@font-face {
    font-family: 'district_prothin';
    src: url('../fonts/DistrictThin/distproth-webfont.eot');
    src: url('../fonts/DistrictThin/distproth-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DistrictThin/distproth-webfont.woff2') format('woff2'),
         url('../fonts/DistrictThin/distproth-webfont.woff') format('woff'),
         url('../fonts/DistrictThin/distproth-webfont.ttf') format('truetype'),
         url('../fonts/DistrictThin/distproth-webfont.svg#district_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
