<div class="container">
    <div class="row">
        <div class="collapse-control col-md-2">
            <button class="btn btn-danger btn-bm-control" ng-click="accordion.expandAll()" onclick="this.blur();" tooltip-placement="bottom" uib-tooltip="Expand all" tooltip-popup-delay='1000'>
                <i class="fa fa-plus-square-o fa-fw fa-lg"></i>
            </button>
            <button class="btn btn-warning btn-bm-control" ng-click="accordion.collapseAll()" onclick="this.blur();" tooltip-placement="bottom" uib-tooltip="Collapse all" tooltip-popup-delay='1000'>
                <i class="fa fa-minus-square-o fa-fw fa-lg"></i>
            </button>
        </div>
        <v-accordion class="vAccordion--default col-md-8" multiple control="accordion">
            <v-pane ng-repeat="pane in bookmarks">
                <v-pane-header>
                    <i class="fa fa-folder fa-lg fa-fw"></i>{{ pane.title }}
                </v-pane-header>
                <v-pane-content>
                    <div ng-repeat="child in pane.children" class="bookmark-wrapper">
                    <img ng-src="http://www.google.com/s2/favicons?domain={{ child.url }}" class="bm-favicon">
                    <a ng-href="{{ child.url }}" class="bm-link">{{ child.title }}</a>
                    </div>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
</div>
