<!-- Delete confirmation modal -->
<div class="modal-header">
    <span class="modal-title delete-confirm-title"> Delete {{ toDelete.title }} ?
        <img ng-src="{{ toDelete.icon }}" class="src-img"/>
        </span>
</div>
<div class="modal-body delete-confirm-body">
    <p class="confirm-message">Are you sure you want to delete feed from {{ toDelete.title }} ?
        <br />
    </p>
    <p class="confirm-tip">You can always get it back by adding it using the 'Add Content' button on the bottom-right.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times fa-fw fa-2x"></i></button>
    <button class="btn btn-danger" type="button" ng-click="ok()"><i class="fa fa-trash fa-fw fa-2x"></i></button>
</div>
