<uib-progressbar class="progress-striped active" value="dynamic" type="warning" ng-show="showProgressbar" style="border-radius: 5px; height: 10px"></uib-progressbar>
<div class="container">
    <div class="row text-center alert-wrapper" ng-if="alerts[0]">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000"> {{ alert.msg }}</uib-alert>
    </div>
    <div class="row text-center noselect" ng-if="emptyContentList" style="cursor: default">
        <span class="no-items">
            <br />
            <i class="fa fa-exclamation fa-3x"></i><br /><br />
            Hmmm... It's quite lonely here.. <br />
            Let's add some content to your news feed. <br /><br/>
            <p class="tip">Click the 'Add Content' on the bottom-right of the page to get started</p>
        </span>
    </div>
    <div class="row" ng-if="!emptyContentList">
        <div class="row" ng-repeat="j in [] | range:getRowCount()">
            <div class="column col-xs-8 col-sm-3 col-md-2 col-md-push-1 content-wrapper" ng-repeat="i in [] | range:getColumnCount()">
                <div class="item-container noselect" ng-repeat="src in items track by $index| orderBy:'title' | unique:'title'" ng-if="$index === i + getColumnCount()*j">
                    <span>
                        <h5><span class="delete-button" ng-click="promptDelete(src)"><i class="fa fa-trash fa-fw fa-lg"></i></span></h5>
                    <img ng-src="{{ src.icon }}" class="feed-icon" />
                    <p class="text-center">
                        <input type="checkbox" style="vertical-align: text-top;" ng-model="src.wanted" ng-click="toggleItem()">
                        <a ng-href="{{ src.websiteUrl }}">{{ src.title }}</a>
                    </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="add-content-wrapper">
        <button class="btn btn-danger add-content-button" ng-click="addContent()"><i class="fa fa-plus fa-fw fa-2x"></i></button>
    </div>
</div>
