<uib-progressbar class="progress-striped active" value="dynamic" type="success" ng-show="showProgressbar" style="border-radius: 5px; height: 10px"></uib-progressbar>
<div class="container" scroll>
    <div class="row text-center noselect" ng-if="emptyFeedList" style="cursor: default">
        <span class="no-items">
            <br />
            <i class="fa fa-exclamation fa-3x"></i><br /><br />
            Hmmm... It's quite lonely here.. <br />
            Please add some content sources to see a feed. <br /><br/>
            <p class="tip">Hint: Go to the Content section in the Options and click the 'Add Content' button</p>
        </span>
    </div>
    <div class="row">
        <div class="column col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-4" ng-repeat="i in [] | range:columns()">
            <div class="bl-cardbox" ng-repeat="entry in entryList" ng-if="$index % columns() == i">
                <div class="bl-card">
                    <div class="bl-banner">
                        <span class="blur-filter"></span>
                        <img class="banner-image noselect" ng-src="{{ entry.coverUrl }}" />
                        <span class="banner-button btn-read-more"><a role="button" class="btn btn-default banner-hover-button" href="{{ entry.entryUrl }}" target="_blank">Read More</a></span>
                        <h4>
                            <span class="label label-danger bl-flames noselect"><i class="octicon octicon-flame" ng-repeat="n in [] | range:entry.flames"></i></span>
                        </h4>
                        <span class="banner-button share-buttons">
                            <div class="btn-group btn-group-justified" role="group" aria-label="Share">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default share-fb" ng-click="popup('f', entry.entryUrl)"><i class="fa fa-facebook fa-lg"></i></button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default share-twitter" ng-click="popup('t', entry.entryTitle + '+' + entry.entryUrl)"><i class="fa fa-twitter fa-lg"></i></button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default share-google-plus" ng-click="popup('g', entry.entryUrl)"><i class="fa fa-google-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="bl-content">
                        <a ng-href="{{ feedMap[entry.sourceHash].siteUrl }}" alt="{{ feedMap[entry.sourceHash].title }}" class="source"> {{ feedMap[entry.sourceHash].title }} </a>
                        <div class="title">{{ entry.entryTitle }}</div>
                        <div class="snippet" ng-if="entry.contentSnippet">{{ entry.contentSnippet }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroller">
        <a role="button" class="btn btn-default btn-to-top" aria-label="Scroll to Top" title="Scroll to Top" ng-click="toTheTop()" ng-show="showTopButton"><i class="mega-octicon octicon-chevron-up"></i></a>
    </div>
</div>
