<uib-progressbar class="progress-striped active" value="dynamic" type="success" ng-show="showProgressbar" style="border-radius: 5px; height: 10px"></uib-progressbar>
<div class="container">
    <div class="row text-center noselect" ng-if="noHistory" style="cursor: default">
        <span class="no-items">
            <br />
            <i class="fa fa-exclamation fa-3x"></i><br /><br />
            Unable to fetch history :(
        </span>
    </div>
    <div class="row" ng-hide="noHistory">
        <!-- History uses bookmark.css formatting, so need not create another stylesheet -->
        <!-- TODO: Make bookmarks.css class names more generic. Priority: 3 -->
        <div class="collapse-control col-md-2">
            <button class="btn btn-danger btn-bm-control" ng-click="accordion.expandAll()" onclick="this.blur();" tooltip-placement="bottom" uib-tooltip="Expand all" tooltip-popup-delay='1000'>
                <i class="fa fa-plus-square-o fa-fw fa-lg"></i>
            </button>
            <button class="btn btn-warning btn-bm-control" ng-click="accordion.collapseAll()" onclick="this.blur();" tooltip-placement="bottom" uib-tooltip="Collapse all" tooltip-popup-delay='1000'>
                <i class="fa fa-minus-square-o fa-fw fa-lg"></i>
            </button>
        </div>
        <v-accordion class="vAccordion--default col-md-8" multiple control="accordion">
            <v-pane ng-repeat="pane in history">
                <v-pane-header>
                    <i class="fa fa-folder fa-lg fa-fw"></i>{{ pane.title }}
                </v-pane-header>
                <v-pane-content>
                    <div ng-repeat="child in pane.children" class="bookmark-wrapper" style="padding-left: 35px;">
                        <li>
                            <a ng-href="{{ child.url }}" class="bm-link">{{ child.title }}</a>
                        </li>
                    </div>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
</div>
