.bl-cardbox {
    margin-bottom: 40px;
    max-width: 90%;
}

@media screen and (max-width: 992px) {
    .container .bl-cardbox {
        max-width: 95%;
    }
}

.bl-cardbox-compact {
    max-width: 95%;
    margin-right: 2rem;
}

.bl-card {
    display: block;
    overflow: auto;
    background-color: #fdfdfd;
    border-radius: 7px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.4);
    position: relative;
}

.bl-banner {
    position: relative;
}

.bl-banner:hover>.banner-button, .bl-banner:hover>.blur-filter {
    opacity: 1;
}

.banner-image {
    width: 100%;
    height: auto;
    min-height: 100px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: filter 0.3s ease-in;
    -webkit-transition: -webkit-filter 0.3s ease-in;
    -moz-transition: -moz-filter 0.3s ease-in;
}

.banner-button {
    position: absolute;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
}

.btn-read-more {
    top: calc(50% - 25px);
    left: calc(50% - 60px);
}

.btn-read-more:active:focus {
    outline: none
}

.btn-share {
    top: calc(100% - 43px);
    left: calc(80% - 60px);
}

.btn-save-for-later {
    top: calc(80% - 19px);
    right: calc(80% - 60px);
}

.blur-filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    filter: blur(2px) grayscale(15%);
    -moz-filter: blur(2px) grayscale(15%);
    -webkit-filter: blur(2px) grayscale(15%);
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
}

.bl-content {
    background-color: #fdfdfd;
    color: #222;
    padding: 5px 20px 15px 20px;
    line-height: 1.8em;
}

.bl-content .source {
    color: #887;
    font-weight: 500;
    font-family: inherit;
    font-size: 1.05em;
}

.bl-content .source:hover {
    text-decoration: none;
}

.bl-content .title {
    font-size: 1.25em;
    color: #222;
    word-wrap: break-word;
}

.bl-content .snippet {
    color: #404040;
    line-height: 1.6em;
    padding-top: 1em;
}

.bl-flames {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: default;
    padding: 6px;
    border-radius: 6px;
}

.banner-hover-button {
    z-index: 250;
    padding: 9px 18px;
    border-radius: 30px;
}

.feed-time {
    float: right;
    color: #777;
    font-size: 0.9em
}

.share-buttons>.btn-group>div>.btn {
    border-radius: 0;
    border: none;
    padding: 10px 0;
}

.share-buttons>.btn-group>div>.btn:active, .share-buttons>.btn-group>div>.btn:focus, .share-buttons>.btn-group>div>.btn:hover:active {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.share-buttons {
    top: calc(100% - 30px);
    left: 0;
}

.share-fb {
    background-color: #3b5998;
    color: #fdfdfd;
}

.share-fb:hover, .share-fb:active, .share-fb:focus, .share-fb:hover:active {
    background-color: #fdfdfd;
    color: #3b5998;
}

.share-twitter {
    background-color: #00aced;
    color: #fdfdfd;
}

.share-twitter:hover, .share-twitter:active, .share-twitter:focus, .share-twitter:hover:active {
    background-color: #fdfdfd;
    color: #00aced;
}

.share-reddit {
    background-color: #ff4500;
    color: #fdfdfd;
}

.share-reddit:hover, .share-reddit:active, .share-reddit:focus, .share-reddit:hover:active {
    background-color: #fdfdfd;
    color: #ff4500;
}

.share-pocket {
    background-color: #ef4056;
    color: #fdfdfd;
}

.share-pocket:hover, .share-pocket:active, .share-pocket:focus, .share-pocket:hover:active {
    background-color: #fdfdfd;
    color: #d34836;
}

.btn-to-top {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.65) !important;
    height: 2em;
    width: 2em;
    padding: 0;
    opacity: 1;
    cursor: pointer;
}

.btn-to-top:hover, .btn-to-top:active, .btn-to-top:focus, .btn-to-top:hover:active {
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 1) !important;
    background-image: none;
    box-shadow: none;
    opacity: 1;
}

.btn-to-top.ng-hide {
    opacity: 0;
}

.scroller {
    z-index: 300;
    position: fixed;
    top: 92.5%;
    right: 2.5%;
    opacity: 1;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
}