<!-- Loader bar -->
<app-progressbar [hidden]="!showProgressbar"></app-progressbar>
    
<div [ngClass]="{'container-fluid': viewCompact || adjustContainer, 'container': !viewCompact && !adjustContainer}">
    <!-- Message when no content source is added -->
    <div class="row d-flex justify-content-center text-center noselect" *ngIf="emptyFeedList && !timedOut" style="cursor: default">
        <span class="no-items">
            <br />
            <i class="fa fa-exclamation fa-3x"></i><br /><br />
            Hmmm... It's quite lonely here.. <br />
            Please add some content sources to see a feed. <br /><br/>
            <p class="tip">Hint: Go to the Content section in the Options and click the 'Add Content' button</p>
        </span>
    </div>

    <!-- Message when couldn't fetch feed -->
    <div class="row d-flex justify-content-center text-center noselect" *ngIf="emptyFeedList && timedOut" style="cursor: default">
            <span class="no-items">
                <br />
                <i class="far fa-frown-open fa-3x"></i><br /><br />
                Oops! <br />
                Couldn't fetch your news feed.
                <br /><br/>
                <p class="tip">Please check your internet connection and try again.</p>
            </span>
        </div>
    
    <!-- fEeD -->
    <div class="row d-flex" [hidden]="emptyFeedList">
        <div class="offset-sm-0 col-sm-6 col-md-4" [ngClass]="{'col-xl-3': viewCompact}" *ngFor="let i of range(columns())">
            <!-- TODO: Unique -->
            <div *ngFor="let entry of entryList; let entryIndex = index;">
                <div *ngIf="entryIndex % columns() === i" class="bl-cardbox" [ngClass]="{'bl-cardbox-compact': viewCompact}">
                    <div class="bl-card">
                        <div class="bl-banner">
                            <span class="blur-filter"></span>
                            <img class="banner-image noselect" [src]="entry.coverUrl" />
                            <span class="banner-button btn-read-more"><a role="button" class="btn btn-secondary banner-hover-button" [href]="entry.entryUrl" target="_blank">Read More</a></span>
                            <h4>
                                <span class="badge badge-danger bl-flames noselect"><i class="octicon octicon-flame" *ngFor="let n of range(entry.flames)"></i></span>
                            </h4>
                            <span class="banner-button share-buttons w-100">
                                <div class="btn-group d-flex w-100" role="group" aria-label="Share">
                                    <div class="w-100" role="group">
                                        <button type="button" class="btn btn-default share-fb w-100" (click)="popup('f', entry.entryUrl)"><i class="fab fa-facebook-f fa-lg"></i></button>
                                    </div>
                                    <div class="w-100" role="group">
                                        <button type="button" class="btn btn-default share-twitter w-100" (click)="popup('t', entry.entryTitle + '+' + entry.entryUrl)"><i class="fab fa-twitter fa-lg"></i></button>
                                    </div>
                                    <div class="w-100" role="group">
                                        <button type="button" class="btn btn-default share-reddit w-100" (click)="popup('r', entry.entryUrl + '&title=' + entry.entryTitle)"><i class="fab fa-reddit-alien fa-lg"></i></button>
                                    </div>
                                    <div class="w-100" role="group">
                                        <button type="button" class="btn btn-default share-pocket w-100" (click)="popup('p', entry.entryUrl)"><i class="fab fa-get-pocket fa-lg"></i></button>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="bl-content">
                            <span>
                                <a [href]="entry.feedSourceSiteUrl" class="source"> {{ entry.feedSourceTitle }} </a>
                                <span class="feed-time"> {{ getPublishedTime(entry.timestamp) }} </span>
                            </span>
                            <div class="title">{{ entry.entryTitle }}</div>
                            <div class="snippet" *ngIf="entry.contentSnippet">{{ entry.contentSnippet }}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-window-scroll-button></app-window-scroll-button>
