html,
body {
	font-family: 'robotoregular';
	font-size: 1em;
}

.title-blink {
	display: inline-block;
	font-family: 'lovers_quarrelregular';
	font-weight: 250em;
	font-size: 4em;
	text-align: center;
	cursor: default;
	-moz-user-select: none;
	user-select: none;
}

.top {
	text-align: center;
	overflow: auto;
}

.cards-container {
	padding: 10px;
	display: block;
}

.tinted-title {
	background: -moz-linear-gradient(transparent, #2D2D2D);
}

.navButton {
	height: 75px;
	width: 75px;
	background-color: transparent;
	color: #3B3B3B;
	border: none;
	font-size: 2.25em;
	padding: 15px;
	cursor: pointer;
	float: left;
	margin: 5px;
}