<!DOCTYPE html>
<html>

<head>

    <title> New Tab </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Main container for blink">
    <meta name="author" content="Sidhant Sharma [:tk]">

    <!-- 3rd Party Libraries -->
    <link rel="stylesheet" href="libs/bootswatch_bootstrap_paper/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-scroll/angular-scroll.min.js"></script>

    <!-- Blink resources -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/fonts.css">

    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/controllers/FeedController.js" charset="utf-8"></script>
    <script src="js/controllers/HomeController.js" charset="utf-8"></script>
    <script src="js/controllers/NavController.js" charset="utf-8"></script>
    <script src="js/controllers/ContentController.js" charset="utf-8"></script>
    <script src="js/controllers/SettingsController.js" charset="utf-8"></script>

</head>

<body ng-app="blink">
    <nav class="navbar navbar-transparent navbar-fixed-top noselect" role="navigation" ng-controller="NavController">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle add-border" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar add-border"></span>
                <span class="icon-bar add-border"></span>
                <span class="icon-bar add-border"></span>
            </button>
            <a class="navbar-brand" href="#/feed">B</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-collapse-transparent responsive-bg" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/blink/content">
                        <span class="text-center" style="display: inline-flex;">
                            <i class="fa fa-pencil fa-fw fa-lg nav-icon" style="color: #71f5ed;"></i>
                            <span class="visible-xs">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Content
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#/blink/settings">
                        <span class="text-center" style="display: inline-flex;">
                            <i class="fa fa-cogs fa-fw fa-lg nav-icon" style="color: #cdcdcd;"></i>
                            <span class="visible-xs">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Settings
                            </span>
                        </span>
                    </a>
                </li>
                <li class="dropdown" uib-dropdown="">
                    <a href="#/main" class="dropdown-toggle" uib-dropdown-toggle="" data-toggle="dropdown" style="margin-right: 10px;">
                        <span class="text-center" style="display: inline-flex;">
                            <i class="fa fa-ellipsis-v fa-fw fa-lg"></i>
                            <span class="visible-xs" style="display;/* display: inline-block; */">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Options
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#/blink/help">
                                <i class="fa fa-question fa-fw fa-lg"></i>       Help
                            </a>
                        </li>
                        <li>
                            <a href="#/blink/about">
                                <i class="fa fa-info fa-fw fa-lg"></i>       About
                            </a>
                        </li>
                        <li>
                            <a ng-click="showYourLove()" style="cursor: pointer">
                                <i class="fa fa-heart fa-fw fa-lg"></i>       Support
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="navbar-form navbar-right" role="search" style="cursor: pointer" ng-click="toggleSearchbar()">
                <button type="submit" class="btn btn-search" ng-mouseover="searchbarOpen=true" ng-class="{btnActive: searchbarOpen}"></button>
                <span class="text-center responsive-search">
                    <div class="form-group searchbar" ng-show="searchbarOpen">
                        <input ng-model="asyncSelected" uib-typeahead="suggestion for suggestion in getSuggestions($viewValue)" type="text" class="form-control"
                         placeholder="Google Search..." focus-me="searchbarOpen" ng-keyup="$event.keyCode == 13 && google($viewValue, asyncSelected)"
                         typeahead-on-select="google($viewValue, asyncSelected)" typeahead-focus-first="false"
                         typeahead-popup-template-url="markup/autoSuggest.html" style="width: 300px" />
                    </div>
                    <span class="visible-xs noselect" ng-hide="searchbarOpen" style="cursor: pointer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Google Search
                    </span>
                </span>
            </form> -->
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div ng-view ng-cloak></div>

</body>

</html>
