<!DOCTYPE html>
<html>

<head>

    <title> New Tab </title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="libs/bootswatch_bootstrap_paper/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-post-message/angular-post-message.min.js"></script>
    <script src="libs/angular-scroll/angular-scroll.min.js"></script>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/fonts.css">

    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/controllers/FeedController.js" charset="utf-8"></script>
    <script src="js/controllers/HomeController.js" charset="utf-8"></script>
    <script src="js/controllers/NavController.js" charset="utf-8"></script>

</head>

<body ng-app="blink">

    <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation" ng-controller="NavController">
        <script type="text/ng-template" id="autoSuggest.html">
            <div class="custom-popup-wrapper col-sm-12" style="display: block;" ng-show="isOpen() && !moveInProgress" aria-hidden="{{!isOpen()}}">
                <ul class="dropdown-menu" role="listbox">
                    <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                    </li>
                </ul>
            </div>
        </script>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <a class="navbar-brand" href="#/home">B</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/feed">
                        <i class="fa fa-rss fa-fw fa-lg nav-icon" style="color: #ff9900;"></i>
                    </a>
                </li>
                <li>
                    <a href="#/bookmarks">
                        <i class="fa fa-bookmark fa-fw fa-lg nav-icon" style="color: #ccfc49;"></i>
                    </a>
                </li>
                <li>
                    <a href="#/recent">
                        <i class="fa fa-clock-o fa-fw fa-lg nav-icon" style="color: #1cfffb;"></i>
                    </a>
                </li>
                <li class="dropdown" uib-dropdown="">
                    <a href="#/main" class="dropdown-toggle" uib-dropdown-toggle="" data-toggle="dropdown" style="margin-right: 10px;">
                        <i class="fa fa-ellipsis-v fa-fw fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#/content">
                                <i class="fa fa-pencil fa-fw fa-lg"></i>       Content
                            </a>
                        </li>
                        <li>
                            <a href="#/settings">
                                <i class="fa fa-cog fa-fw fa-lg"></i>       Settings
                            </a>
                        </li>
                        <li>
                            <a href="#/help">
                                <i class="fa fa-question fa-fw fa-lg"></i>       Help
                            </a>
                        </li>
                        <li>
                            <a href="#/about">
                                <i class="fa fa-info fa-fw fa-lg"></i>       About
                            </a>
                        </li>
                        <li>
                            <a href="#/main">
                                <i class="fa fa-heart fa-fw fa-lg"></i>       Support
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <button type="submit" class="btn btn-search" ng-mouseover="searchbarOpen=true" ng-class="{btnActive: searchbarOpen}"></button>
                <div class="form-group searchbar" ng-show="searchbarOpen">
                    <input ng-model="asyncSelected" uib-typeahead="suggestion for suggestion in getSuggestions($viewValue)" type="text" class="form-control" placeholder="Google Search..." focus-me="searchbarOpen" ng-keyup="$event.keyCode == 13 && google($viewValue, asyncSelected)"
                    typeahead-focus-first="false" typeahead-popup-template-url="autoSuggest.html" style="width: 300px;"/>
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div ng-view ng-cloak></div>

</body>

</html>
