@font-face {
    font-family: 'freesansmedium';
    src: url('../fonts/FreeSans/freesans-webfont.eot');
    src: url('../fonts/FreeSans/freesans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FreeSans/freesans-webfont.woff2') format('woff2'),
         url('../fonts/FreeSans/freesans-webfont.woff') format('woff'),
         url('../fonts/FreeSans/freesans-webfont.ttf') format('truetype'),
         url('../fonts/FreeSans/freesans-webfont.svg#freesansmedium') format('svg');
    font-weight: light;
    font-style: normal;
}
