.help-nav {
    position: fixed;
    top: 15%;
    right: 2.5%;
}

.help-heading {
    font-size: 1.5em;
    background-color: rgba(84, 56, 138, 0.54) !important;
}

.help-panel {
    background-color: rgba(255,255,255,0.95);
}

.help-body {
    color: #444;
}

.help-body-title {
    font-size: 1.25em;
    color: #444;
}

.help-panel-divider {
    border-color: #555;
    margin-top: 0;
}

.help-nav-link {
    color: rgba(255,255,255,0.9);
    cursor: pointer;
}

.help-nav-link:hover, .help-nav-link:active, .help-nav-link:focus {
    color: rgb(255,255,255);
    text-decoration: none;
}

.help-issues {
    color: #0E4C7D;
}

.help-issues:hover, .help-issues:active, .help-issues:focus {
    color: #227CC3;
    text-decoration: none;
}
