.clocky {
    font-family: work_sans_thin, 'Helvetica', serif;
}

.clocky .time {
    font-size: 10em;
    font-family: work_sans_hairline;
}

.clocky .day {
    font-size: 2.25em;
}


.clocky .greeting {
    font-size: 3em;
}

.space {
    height:  12.5vh;
}
