/* You can add global styles to this file, and also import other style files */
.bl-toast-container {
    position: fixed !important;
    bottom: 15px !important;
    left: 15px !important;
    top: auto !important ;
}
